* {
    box-sizing: border-box;
}

/* nav styles */
#nav {
    padding: 1% 5% !important;
}

nav h2 {
    font-weight: bold;
}

.navbar-brand {
    position: relative;
}

.navbar-brand .crown {
    position: absolute;
    left: 27.5%;
}

nav li.active {
    text-decoration-color: #FC3C3C;

}

nav .active>a {
    text-decoration: none;
    color: #FC3C3C;
}

nav a {
    color: #000;
}

/* banner Section */
#banner {
    position: relative;
}

#banner img {
    position: absolute;
    z-index: -5;
}

#banner #centered {
    position: static;
    display: flex;
    justify-content: space-between;
}

#banner #left {
    color: #fff;
}

#banner button {
    padding: 5px 35px;
    background-color: #FC3C3C;
    border-radius: 0;
    border: none;
    color: #fff;
}

#banner p {
    display: inline-block;
}

span.straightLine {
    width: 60px;
    height: 1px;
    margin-bottom: 0.3%;
    margin-left: 1%;
    background-color: #ffffffa4;
    display: inline-block;
}

#banner #right p {
    font-weight: 300;
    line-height: 2em;
    color: #fff;
}

#arrows {
    position: relative;
    text-align: right;
    right: -25%;

}

#arrows img {
    text-align: right;
}

/* about Section */

#about p {
    line-height: 2em;
}

span.darkLine {
    width: 60px;
    height: 2px;
    margin-bottom: 0.3%;
    margin-left: 1%;
    background-color: #1b1a1ae7;
    display: inline-block;
}

#about {
    margin-top: 10%;
}


/* services section */


#services .card {
    border: none !important;
}

#buttonGroup {
    display: flex;
    justify-content: center;
}

#buttonGroup .btns {
    border-radius: 0 !important;
    border: 1px solid #FC3C3C;
    padding: 5px 50px;

}